
body{
    background-color: #dce3e2;
    color: #1d4374;
}
*{
    padding:.2em;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
form {
    width: 60%;
    display: grid;
    grid-gap: 1em; gap: 1em;
    grid-template-columns: 6em 1fr;
    grid-template-rows: auto;
    margin-left: 25%;
    margin-right: 30%;
}
nav {
    font-weight: bold;
    font-size: 120%;
    padding: 1.5em;
    margin-top: 0;
    text-align: center;
}
nav a {
    text-decoration: none;

}
nav a:link { color: #1d4374; }
nav a:visited { color: #84a47a; }
nav a:hover { transition: 0.3s; color: #1d4374; }

#info_table {
    margin-left: 25%;
    margin-right: 25%;
}
#logo{
    position:fixed;
    top:0;
    left:0;
}
.Titanic{
    float:none
}
input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], textarea, select, input[type=date]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    min: height 36px;
    padding: 8px 12px;
    width: 100%;
    margin-top: 5px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    font-size: 15px;
    color: #404040;
    outline: none;
}

input[type='submit'], button, .btn{
    color: #1d4374;
    text-decoration: none;
    background-color: rgba(0,0,0, .2);  /* change button color here */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
    border: 0px;
    outline: none;
    display: inline-block;
    padding: 8px 22px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: .12rem;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

input[type='submit']:hover, button:hover, .btn:hover{
    background-color: rgba(0,0,0, .3);  /* change button color here */
}

input[type='submit']:active, button:active, .btn:active{
    background-color: rgba(0,0,0, .3);  /* change button color here */
    border: 0px;
    -webkit-box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, .15);
    box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, .15);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #1d4374;
}

th {
    text-align: left;
}


